node_modules/
**/node_modules/

dist/
**/dist/
.vercel/

**/.env
**/.env.*
!**/.env.example

apps/pocketbase/pb_data/
apps/pocketbase/pb_snapshots/
apps/pocketbase/pocketbase

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.tar.gz
